{% extends 'layout.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>
        <h2>  {{ message }}! ✅ </h2>
        {% for messageFlash in app.flashes('success') %}
            <h3>  {{ messageFlash }}! ✅ </h3>
        {% endfor %}

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'E:/symfony Projetcs/rt2g3/src/Controller/FirstController.php'|file_link(0) }}">src/Controller/FirstController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'E:/symfony Projetcs/rt2g3/templates/first/index.html.twig'|file_link(0) }}">templates/first/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}

{% block title %} {{ parent() }} / First {% endblock %}
